<style>
html{
  overflow: true;
}

body {
}

h1 {
  color: #3a3c45;
}

input[type="text"] {
  display: block;
  margin: 10px;
  width: 80%;
  height: 30px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-color: #00affa;
  border-style: groove;
  border-radius: 5px;
}

input[type="submit"] {
  cursor: pointer;
  color: white;
  display: block;
  margin: 10px;
  width: 130px;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 5px;
  background-color: #27b460;
  padding: 6px 10px 6px 10px;
}

input[type="submit"]:hover {
  background-color: #1d8631;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding: 5px;
  color: #727683;
}
::-moz-placeholder { /* Firefox 19+ */
  padding: 5px;
  color: #727683;
}
:-ms-input-placeholder { /* IE 10+ */
  padding: 5px;
  color: #727683;
}
:-moz-placeholder { /* Firefox 18- */
  padding: 5px;
  color: #727683;
}

input[type="text"]:focus {
  outline: none;
}

.sign-up-page {
  width: 80%;
}

.signup-form {
  width: 80%;
  margin: 10px;
}

.signup-header {
  width: 80%;
  text-align: center;
}

.user-details {
  display: flex;
  width: 100%;
  margin: 100px;
  background-color: white;
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
}

.submit-form {
  width: 50px;
  font-size: 14px;
}

.upload-file {
  width: 40%;
  padding-left: 5px;
  height: 30px;
  font-weight: 700;
  border-radius: 5px;
  border-color: #00affa;
  color: #727683;
  border-style: groove;
  background-color: white;
}

label {
  cursor: pointer;
  height: 24px;
  margin: 14px;
  padding: 6px 10px 6px 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #00affa;
  display: inline-block;
  border-radius: 5px;
}

label:hover {
  background-color: #005d85;
}

</style>
