<style>
html{
  overflow: true;
}

body {
}

h1 {
  color: #3a3c45;
  font-family: sans-serif;
}

h2 {
  color: #3a3c45;
  font-family: sans-serif;
}

li {
  color: #3a3c45;
  font-family: sans-serif;
}

b {
  color: #3a3c45;
  font-family: sans-serif;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="text"] {
  display: block;
  margin: 10px 0px 10px 0px;
  width: 80%;
  height: 30px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-color: #00affa;
  border-style: groove;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
  color: white;
  margin-top: 10px;
  width: 130px;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 5px;
  background-color: #00affa;
  padding: 6px 10px 6px 10px;
}

input[type="submit"]:hover {
  background-color: #0081b8;
}

input[type="submit"]:disabled {
  cursor: not-allowed;
  background-color: #e1e2e5;
}

.delete-button {
  cursor: pointer;
  color: white;
  width: 130px;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 5px;
  background-color: #fd6363;
  margin-left: 20px;
  padding: 6px 10px 6px 10px;
}

.delete-button:hover {
  background-color: #bf0303;
}

.file-upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding: 5px;
  color: #727683;
}
::-moz-placeholder { /* Firefox 19+ */
  padding: 5px;
  color: #727683;
}
:-ms-input-placeholder { /* IE 10+ */
  padding: 5px;
  color: #727683;
}
:-moz-placeholder { /* Firefox 18- */
  padding: 5px;
  color: #727683;
}

.sign-up-page {
  width: 80%;
}

.signup-form {
  width: 80%;
  margin: 10px;
}

.signup-header {
  width: 80%;
  text-align: center;
}

.user-details {
  display: flex;
  width: 100%;
  margin-left: 100px;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.user-details-form {
  display: flex;
  width: 100%;
  margin-left: 100px;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.signup-reminder {
  color: #3a3c45;
  font-family: sans-serif;
}

.submit-form {
  display: inline-block;
  width: 100%;
}

.submit-docs {
  display: inline-block;
  width: 100%;

}

.file-upload-name {
  color: #727683;
  width: 30%;
  padding-left: 5px;
  height: 30px;
  font-weight: 700;
  border-radius: 5px;
  border-color: #f0faff;
  border-style: groove;
  background-color: white;
}

.file-name-label {

}

.upload-label {
  cursor: pointer;
  height: 24px;
  margin: 14px;
  padding: 6px 10px 6px 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: #00affa;
  display: inline-block;
  border-radius: 5px;
}

.upload-label:hover {
  background-color: #0081b8;
}

</style>
